.pagination {
  max-width: 250px;
  margin: 20px auto 0 auto;

  &__wrapper {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__btn {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #382756;
  }

}
