<li class="lobbie">
  <div class="lobbie__controls">
    <div class="lobbie__avatar" style="background-image: url({{lobby?.image}});"></div>
    <span>{{lobby?.owner}}</span>
    <div class="lobbie__avatar" *ngIf="isPrivate">Приватное лобби</div>
  </div>
  <div class="lobbie__head">
    <span>{{ lobby?.title }}</span>
    <div class="lobbie__users-number">
    </div>
    {{ lobby?.playersQuantity }} / {{ lobby?.maxPlayers }}
    <div class="lobbie__rounds">{{ lobby?.maxRounds }} Раундов</div>
  </div>
  <button class="btn lobbie__btn" (click)="checkPrivate()" [disabled]="isFullLobby">Присоединиться</button>
</li>
