<li class="lobbie">
  <div class="lobbie__controls">
    <div class="lobbie__avatar" style="background-image: url({{lobby?.lobbyImage}});"></div>
    <span>{{lobby?.lobbyOwner}}</span>
    <div class="lobbie__avatar" *ngIf="lobby?.private">Приватное лобби</div>
  </div>
  <div class="lobbie__head">
    <span>{{ lobby?.lobbyName }}</span>
    <div class="lobbie__users-number">
      {{ lobby?.joinedUsers }} / {{ lobby?.maxUsers }}
    </div>
    <div class="lobbie__rounds">{{ lobby?.rounds }} Раундов</div>
  </div>
  <button class="btn lobbie__btn" [routerLink]="gameLink">Присоединиться</button>
</li>
