<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="social">
        <li class="social__item">
          <a href="" class="footer__link">@JiriSimonov</a>
        </li>
        <li class="social__item">
          <a href="" class="footer__link">EternalRival</a>
        </li>
        <li class="social__item">
          <a href="" class="footer__link">SlikeDollar</a>
        </li>
      </ul>
      <p class="footer__year">@2023</p>
      <a href="" class="footer__link">RS</a>
    </div>
  </div>
</footer>
