<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="social">
        <li class="social__item">
          <a href="https://github.com/JiriSimonov" target="_blank" class="footer__link">@JiriSimonov</a>
        </li>
        <li class="social__item">
          <a href="https://github.com/EternalRival" target="_blank" class="footer__link">@EternalRival</a>
        </li>
        <li class="social__item">
          <a href="https://github.com/SlikeDollar" target="_blank" class="footer__link">@SlikeDollar</a>
        </li>
      </ul>
      <p class="footer__year">2023 WDYM</p>
      <a href="https://rs.school/js/" target="_blank" class="footer__link footer__link_logo"></a>
    </div>
  </div>
</footer>
