.meme-card {
  height: 250px;
  width: 200px;
  border: 2px solid blue;
  border-radius: 5px;
  position: relative;

  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    z-index: 2;
  }

  &__inner {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #382756;
  }

}
