.meme-card {
  height: 250px;
  width: 200px;
  border: 2px solid blue;
  border-radius: 5px;
  &__inner {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #382756;
  }
}
