<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo" routerLink="lobbies">Logo</div>
      <div class=""  routerLink="game">game</div>
      <div class=""  routerLink="lobbies">lobbies</div>
      <div class=""  routerLink="auth">Auth</div>
      <div class=""  routerLink="auth/signup">Signup</div>
      <button class="header__btn" [routerLink]="'/user/dashboard'">User</button>
      <app-user-profile></app-user-profile>
    </div>
  </div>
</header>

