<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo-wrap" [routerLink]="'lobbies'">
        <div class="logo">
          <div class="logo__text logo__text_blue">What do</div>
          <div>
            <span class="logo__text logo__text_purple">you </span>
            <span class="logo__text logo__text_red">meme</span>
            <span class="logo__text logo__text_purple">?</span>
          </div>
        </div>
      </div>
      <app-navigation></app-navigation>
      <app-user-profile></app-user-profile>
    </div>
  </div>
</header>
