<div class="container">
  <div class="lobbies">
    <app-lobby-search></app-lobby-search>
    <span class="form__error lobbies__error" *ngIf="isCreatedLobby"
    >Вы уже создали лобби</span
  >
    <button
      class="btn lobbies__btn"
      (click)="changeCreateModalState()"
      [disabled]="isCreatedLobby"
    >
      Создать Лобби
    </button>
    <ul
      class="lobbies__list"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()">
    >
      <app-lobby-info *ngFor="let lobby of lobbies$ | async" [lobby]="lobby">
      </app-lobby-info>
    </ul>
  </div>
  <app-lobby-modal
    *ngIf="createModalState"
    (onClosed)="changeCreateModalState()"
  ></app-lobby-modal>
  <app-lobby-join-modal *ngIf="joinModalState"></app-lobby-join-modal>
</div>
