<div class="container">
  <div class="lobbies">
    <app-lobby-search></app-lobby-search>
    <span class="form__error lobbies__error" *ngIf="isCreatedLobby"
    >Вы уже создали лобби</span>
    <button
      class="btn lobbies__btn"
      (click)="openCreateDialog()"
      [disabled]="isCreatedLobby"
      >
      Создать Лобби
    </button>
    <ul
      class="lobbies__list"
      infinite-scroll
      [infiniteScrollDistance]="scrollOptions.scrollDistance"
      [infiniteScrollUpDistance]="scrollOptions.scrollUpDistance"
      [infiniteScrollThrottle]="scrollOptions.throttle"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()">
      <app-lobby-info *ngFor="let lobby of lobbies$ | async" [lobby]="lobby">
      </app-lobby-info>
    </ul>
  </div>
</div>
