.lobbies {
  margin: 0 auto;
  padding: 40px;
  border-radius: 13px;
  background-color: #1b1a20;
  text-align: center;
  user-select: none;

  &__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__btn {
    margin-bottom: 10px;
  }
}
