<div class="container">
  <div class="lobbies">
    <app-lobby-search></app-lobby-search>
    <button
      class="btn lobbies__btn"
      (click)="changeCreateModalState()"
      [disabled]="isCreatedLobby"
    >
      Создать Лобби
    </button>
    <ul
      class="lobbies__list"
      infinite-scroll
      (scrolled)="onScroll()"
      [infiniteScrollThrottle]="throttle"
      [infiniteScrollDistance]="distance"
    >
      <app-lobby-info
        *ngFor="let lobby of (lobbies$ | async)"
        [lobby]="lobby[1]"
      >
      </app-lobby-info>
    </ul>
    <span class="form__error lobbies__error" *ngIf="isCreatedLobby"
      >Вы уже создали лобби</span
    >
  </div>
  <app-lobby-modal
    *ngIf="createModalState"
    (onClosed)="changeCreateModalState()"
  ></app-lobby-modal>
  <app-lobby-join-modal *ngIf="joinModalState"></app-lobby-join-modal>
</div>
