<div class="modal-create">
  <div class="modal-create__overlay">
    <div class="modal-create__container form">
      <form (ngSubmit)="onSubmit({totalUsers: playersNumber, rounds: roundsNumber})"
        [formGroup]="modalForm"
        class="modal-create__form form__form">
        <label class="modal-create__label form__label">
          Количество игрoков - {{players?.value}}
          <input class="modal-create__form-input form__input" formControlName="players" type="range" min="2" max="8">
        </label>
        <label class="modal-create__label form__label">
          Количество раундов - {{rounds?.value}}
          <input class="modal-create__form-input form__input" formControlName="rounds" type="range" min="1" max="12">
        </label>
        <label class="modal-create__label form__label">
          Название лобби - {{name?.value}}
          <input class="modal-create__form-input form__input" formControlName="name">
        </label>
        <button class="modal-create__btn form__btn" type="submit">Создать</button>
      </form>
    </div>
  </div>
</div>
