.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 13px;
  min-width: 700px;
  min-height: 700px;
  width: 100%;
  height: 100%;
  background-color: #1b1a20;

  &__controls {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #fff;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__textarea {
    padding: 10px;
    border-radius: 5px;
    width: 600px;
    height: 100px;
    color: #fff;
    background-color: transparent;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font: 400 13.3333px Arial;
  }

  &__btn {
    display: initial;
    margin: 0 0 0 20px;
  }
} 

.rules {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}