<div class="chat">
  <div class="chat__field" *ngFor="let message of messageList">
    <span class="span">{{message.timestamp}}</span><br>
    <span class="span">{{message.username}}</span><br>
    <span class="span">{{message.message}}</span><br>
  </div>
  <div class="chat__controls">
    <form class="chat__form" [formGroup]="sendMessageForm">
      <div class="chat__control">
        <textarea name="text" placeholder="Текст сообщения" class="chat__textarea" formControlName="messageControl"></textarea>
        <span class="form__error" *ngIf="messageControl?.errors?.['maxLength']">Макисмальная длина 308 символов</span>
      </div>
      <button class="btn chat__btn" [disabled]="sendMessageForm.invalid" (click)="sendMessage()">></button>
    </form>
    <ul class="rules">
      Правила чата:
      <li class="rules__item">Будь вежливым!</li>
      <li class="rules__item">Не хардкодь!</li>
      <li class="rules__item">Не используй магические числа!</li>
    </ul>
  </div>
</div>
