<div class="form">
  <form
  class="form__form"
  (ngSubmit)="onSubmit()"
  [formGroup]="authForm"
  *ngIf="loaded$ | async as loaded"
>
  <label class="form__label">
    Введите логин:
    <input class="form__input" type="text" formControlName="username" />
  </label>
  <label class="form__label">
    Введите пароль:
    <input class="form__input" type="password" formControlName="password" />
  </label>
  <div class="" *ngIf="loginControl?.invalid && loginControl?.dirty">Error</div>
  <button
    class="form__btn"
    type="submit"
    [disabled]="authForm.invalid || disabled || (loading$ | async)"
  >
    Войти
  </button>
  <a class="form__link" routerLink="/auth/signup">Зарегистрироваться</a>
</form>
</div>
