<div class="form">
  <form class="form__form form__form_top" [formGroup]="changeLoginForm">
    <label class="form__label">
      Новый логин:
      <input type="text" class="form__input" formControlName="login" />
      <span class="form__error" *ngIf="usernameControl?.errors?.['minlength']">Минимальная длина 4 символа</span>
      <span class="form__error" *ngIf="usernameControl?.errors?.['maxlength']">Максимальная длина 12 символов</span>
      <span class="form__error" *ngIf="usernameControl?.errors?.['isUniqueUsername']">Такой пользователь уже существует</span>
    </label>
    <button class="form__btn" type="submit" (click)="onSubmitChangeLogin()" [disabled]="changeLoginForm.invalid || changeLoginForm.pending">
      Подтвердить
    </button>
  </form>
  <form class="form__form" [formGroup]="changePasswordForm">
    <label class="form__label">
      Введите текущий пароль:
      <input type="password" class="form__input" formControlName="password" />
    </label>
    <label class="form__label">
      Введите новый пароль:
      <input
        type="password"
        class="form__input"
        formControlName="confirmPassword"
      />
    </label>
    <button
      class="form__btn"
      type="submit"
      (click)="onSubmitChangePassword()"
      [disabled]="changePasswordForm.invalid"
    >
      Подтвердить
    </button>
  </form>
  <button class="form__delete" (click)="deleteUser()">Удалить свой аккаунт</button>
</div>
