.user {
  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__reload {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../../../assets/icons/reload.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
