<div class="form">
  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="form__form" novalidate>
    <label class="form__label">
      Введите логин:
      <input type="text" formControlName="username" class="form__input" />
    </label>
    <label class="form__label">
      Введите пароль:
      <input type="password" formControlName="password" class="form__input"/>
    </label>
    <label class="form__label">
      Повторите пароль:
      <input type="password" formControlName="confirmPassword" class="form__input"/>
      <span class="form__error" *ngIf="(!isPasswordEqual && passwordControl?.dirty && passwordConfirmControl?.dirty)">Пароли не совпадают!</span>
    </label>
    <button type="submit" [disabled]="!(isPasswordEqual && isFormValid)" class="form__btn">Зарегестрироваться</button>
  </form>
</div>
