<div class="playground">
  <div class="playground__inner">
    <div class="playground__top">
      <div class="playground__info">

      <div class="playground__info-rounds">Pаунд {{gameService.gameData?.currentRound}}</div>
        <button class="form__btn playground__info-btn"
          (click)="ready()"
          >Готов</button>
      </div>

      <div class="playground__card">
        <div class="playground__card-inner">
          <p class="playground__card-text">{{gameService.gameData?.rounds?.slice(-1)}}</p>
        </div>
      </div>
    </div>

    <div class="playground__chosen"
      cdkDropList
      #usedMeme="cdkDropList"
      [cdkDropListData]="gameService.usedMeme"
      [cdkDropListConnectedTo]="[memesCardsList]"
      >

      <app-meme-card
        *ngFor='let memeImage of gameService.usedMeme; index as i'
        [memeImage]="memeImage"
        cdkDrag
        (cdkDragExited)="onDragExited(
        i, gameService.usedMeme, gameService.memes)"
        />
    </div>

    <div class="meme-cards"
      cdkDropList
      #memesCardsList="cdkDropList"
      [cdkDropListData]="gameService.memes"
      [cdkDropListConnectedTo]="[usedMeme]"
      >

      <app-meme-card
        *ngFor='let memeImage of gameService.memes; index as i'
        [memeImage]="memeImage"
        [RotationDegree]="rotateMemeCard(i)"
        [distance]="calcDistance(i)"
        cdkDrag
        [cdkDragDisabled]="gameService.usedMeme.length !== 0"
        (cdkDragExited)="onDragExited(
        i, gameService.memes, gameService.usedMeme)"
         />
    </div>
  </div>
</div>
