<header class="header">
  <div class="wrapper">
    <ul>
      <li><a routerLink="user/auth/login">AuthLogin</a></li>
      <li><a routerLink="user/dashboard">Dashboard</a>
    </ul>
    <button>Profile</button>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <ul class="footer__list">
    <li class="footer__item"><a href="" class="footer__link">@JiriSimonov</a></li>
    <li class="footer__item"><a href="" class="footer__link">@EternalRival</a></li>
    <li class="footer__item"><a href="" class="footer__link">@SlikeDollar</a></li>
  </ul>
  <span class="footer__year">2023</span>
  <div class="footer__logo">RSS</div>
</footer>
